---
import Layout from "../layouts/Layout.astro";
import ContactButton from "../components/ContactButton.astro";
import LeftSideInfo from "../components/LeftSideInfo.astro";
import NavBar from "../components/NavBar.astro";
---

<Layout title="Portfolio | Javier Fuertes">
    <main class="flex w-[1500px] m-auto pt-20">
        <div class="flex-3 p-10">
            <LeftSideInfo />
        </div>
        <div class="flex-2">
            <NavBar />
            <div
                class="flex flex-col flex-wrap gap-5 justify-center items-center pl-16"
            >
                <img src="/contact.jpg" width="450" />
                <h2 class="w-[400px] text-center">
                    Feel free to contact me through whichever channel you prefer
                </h2>
                <div class="flex gap-10">
                    <ContactButton
                        imageUrl="/telephone.png"
                        href="tel:658545912"
                        content="Call"
                    />
                    <ContactButton
                        imageUrl="/email.png"
                        href="mailto:jfuertes8@gmail.com"
                        content="Email"
                    />
                </div>
            </div>
        </div>
    </main>
</Layout>
