---
interface Props {
    href: string;
    imageUrl: string;
    content: string;
}

const { href, imageUrl, content } = Astro.props;
---

<a
    href={href}
    target="_blank"
    class="flex flex-col justify-center align-middle w-20 h-20 rounded-full bg-gray-100 border hover:shadow-2xl transition-all items-center"
>
    <img src={imageUrl} class="w-7 h-7" />
    <p class="text-xs mt-2">{content}</p>
</a>
