---
import HeaderLink from "./HeaderLink.astro";
---

<ul
    class="flex md:gap-16 gap-2 w-full justify-center text-lg p-10 bg-slate-800 text-yellow-50"
>
    <li><HeaderLink href="#projects">Projects</HeaderLink></li>
    <li>
        <HeaderLink href="#background">Background</HeaderLink>
    </li>
    <li><HeaderLink href="#contact">Contact</HeaderLink></li>
</ul>
