---
interface Props {
    href: string;
}

const { href } = Astro.props;
---

<a
    href={href}
    class="block px-4 py-2 rounded hover:bg-gray-100 transition-all text-center"
    target="_blank"
>
    <slot />
</a>
